{% extends "mychatapp/base.html" %}

{% block content %}

<style>
    .forms{
        border: 1px solid slateblue;
        width: 100%;
        border-radius: 5px;
        padding: 10px 10px;
        font-size: 18px;
    }
    
    body{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #3f4156;
        font-family: Poppins;
    }
    .logo{
        width: 100px;
        /* border: 2px solid black; */
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: bold;
        color: #3f4156;
        line-height: 20px;
    }
    
    .main{
        width: 100%;
        height: auto;
        /* border: 2px solid black; */
        display: flex;
        align-items: center;
        justify-content: space-between;
    
    }
    
    img{
        object-fit: cover;
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }
    
    .chat-container, .chat-container2{
        width: 350px;
        height: 580px;
        /* border: 2px solid black; */
        background-color: white;
        border-radius: 30px;
        padding: 10px 10px
    }
    .sub-main{
        /* border: 2px solid green; */
        width: 200px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
    }
    .sub-main p{
        font-size: 18px;
    }
    .main-user{
        width: 60px;
        height: 60px;
        /* border: 2px solid black; */
        float: right;
        border-radius: 50%;
    }
    
    .header{
        width: 100%;
        height: auto;
        /* border: 2px solid red; */
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: bold;
    }
    
    .friends-container{
        width: 100%;
        height: 380px;
        /* border: 2px solid black; */
        overflow: auto;
    }
    
    .friends{
        width: 100%;
        height: 80px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
        padding: 0px 10px;
        
    }
    
    .pic, .pro-pic{
        width: 50px;
        height: 50px;
        /* border: 1px solid black; */
        border-radius: 50%;
    }
    .name{
        flex-grow: 2;
        /* border: 2px solid black; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .name p{
        font-size: 14px;
    }
    
    .time_new_msg{
        width: auto;
        height: 50px;
        /* border: 2px solid black; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .time_new_msg p{
        font-size: 14px;
    }
    
    .msg{
        width: 40px;
        height: 40px;
        background-color: #3f4156;
        border-radius: 50%;
        text-align: center;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        
    }
    
    .footer{
        width: 100%;
        height: 40px;
        /* border: 1px solid black; */
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    svg{
        cursor: pointer;
    }
    
    
    .identity{
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        /* border: 2px solid black; */
    
    }
    
    
    .sub-container{
    
        height: 100%;
        width: 100%;
        /* border: 2px solid blue; */
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    
    }
    
    
    .chat-body{
        width: 100%;
        height: 280px;
        /* border: 2px solid slateblue; */
        overflow: auto;
        /* display: flex;
        align-items: flex-start;
        justify-content: center; */
    }
    
    #myform{
        width: 100%;
        height: auto;
        /* border: 2px solid black; */
        /* display: flex;
        justify-content: space-between;
        align-items: center; */
        flex-grow: 2;
        
    }
    
    #input{
        flex-grow: 2;
        height: 30px;
        /* border: 2px solid slateblue; */
        border-radius: 10px;
        padding: 0px 10px;
        font-size: 16px;
        font-family: sans-serif !important;
    }
    
    .chat-container2{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    button{
        background: slateblue;
        color: white;
        width: 100px;
        height: 40px;
        border: none;
        cursor: pointer;
        border-radius: 10px;
        font-size: 14px;
        margin-top: 10px;
        
    }
    
    .chat-box-received, .chat-box-sent{
        width: 200px;
        height: auto;
        font-size: 14px;
        background-color: slateblue;
        color: white;
        margin-left: auto;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        padding:10px 10px;
        border-radius: 10px;
    }
    
    .chat-box-sent{
        background-color: rebeccapurple;
        color: white;
        float: left;
       
    }
    
</style>

<div class="chat-container2">
    <div class="identity">
        <div>
           <a href="{% url 'index' %}">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            width="26"
            height="26"
            fill="currentColor"
            class="bi bi-house"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"
            />
            <path
              fill-rule="evenodd"
              d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"
            />
          </svg>
           </a>
        </div>

        <h3>{{friend.profile.name}}</h3>

        <div class="pro-pic">
            <img src="{{friend.profile.pic.url}}" alt="profile-picture">
        </div>


    </div>

    <div class="sub-container">


        <div class="chat-body" id="chat-body">

            
            {% for chat in chats %}
            {% if chat.msg_sender == user and chat.msg_receiver == profile %}

            <div class="chat-box-sent">
                {{chat}}
            </div>

            {% elif chat.msg_sender == profile and chat.msg_receiver == user %}

            <div class="chat-box-received">
                {{chat}}
            </div>

            {% endif %}



            

            {% endfor %}


        

            <div class="chat-box-sent" id ="chat-box-sent" style="display: none">
               
            </div>

            
        </div>
    
        <form action="" id="myform" method="POST">
            {% csrf_token %}
            
            {{form.body}}
            
            <button type = "submit" id = "submit">Send</button>
        </form>


    </div>

   



</div>

<script>

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');

    let form = document.getElementById("myform")
    
    form.addEventListener("submit", sendChat)

    function sendChat(e){
        e.preventDefault()
        let chatMessage= document.getElementById("id_body").value
        console.log(chatMessage)

        const data = { msg: chatMessage };
        
        let url = "{% url 'sent_msg' friend.profile.id %}"

fetch(url, {
  method: 'POST', // or 'PUT'
  headers: {
    'Content-Type': 'application/json',
    'X-CSRFToken': csrftoken
  },
  body: JSON.stringify(data),
})
.then(response => response.json())
.then(data => {
  console.log('Success:', data);
  let chat_body = document.getElementById('chat-body')
  let chatMessageBox = document.createElement("div")
  chatMessageBox.classList.add("chat-box-sent")
  chatMessageBox.innerText = data
  chat_body.append(chatMessageBox)
  document.getElementById("id_body").value=""
})
.catch((error) => {
  console.error('Error:', error);
});


    }









    

setInterval(receiveMessages, 2000)


let counter = {{num}}
function receiveMessages(){


    let url = "{% url 'rec_msg' friend.profile.id %}"

        fetch(url)
        .then(response => response.json())
        .then(data => {
        console.log('Success:', data);
        
        

        if(data.length == 0){}

        else{

            let lastMsg = data[data.length-1]

            if(counter == data.length){
                console.log("there is no new chat")
            }

        
        

            else{


                let chat_body = document.getElementById('chat-body')
                let chatMessageBox = document.createElement("div")
                
                chatMessageBox.classList.add("chat-box-received")
                chatMessageBox.innerText = lastMsg
                chat_body.append(chatMessageBox)
                document.getElementById("id_body").value=""
                console.log()

                console.log


            }

        }
        
        counter = data.length



        })
        .catch((error) => {
        console.error('Error:', error);
        });

}



</script>


{% endblock %}

