<style>
    #main-footer {
        background: #333;
        color: #f4f4f4;
        text-align: center;
        padding: 20px;
        margin-top: 40px;
    }

    .icon {
        text-decoration: none;
        margin: 0 10px;
        width: 50px;
        height; 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1a4ccb;
        color: #fff;
        border-radius: 50%;
        box-shadow: 5px 5px 10px #1634ad,
        -5px -5px 10px #1e6ce9;
    }
    .icon:hover{
        color: rgb(243, 239, 3);
        box-shadow: inset 5px 5px 10px #1634ad,
        inset -5px -5px 10px #1e6ce9;
    }
</style>

<footer id="main-footer">
    <p>Copyright@2018, Nes Tech</p>
    <a href="#" class="icon"><i class="ri-instagram-line"></i></a>
    <a href="#" class="icon"><i class="ri-twitter-line"></i></a>
    <a href="#" class="icon"><i class="ri-github-line"></i></a>
</footer>