{% extends 'quiz/bases.html' %}
{% load static %}
{% block title %}  
quiz home
{% endblock title %}

{%block content%} 

<hr>
<!-- Button trigger modal -->
  <!-- Modal -->
  <div class="modal fade" id="quizStartModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Start?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body-confirm">

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
          <button type="button" id="start-button" class="btn btn-success">Yes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="h1">Quiz List</div>
  <hr>
  {% for obj in object_list %}
  <button class="btn btn-link modal-button" 
  data-pk="{{obj.pk}}" 
  data-quiz="{{obj.name}}" 
  data-questions="{{obj.number_of_questions}}"
  data-time="{{obj.time}}"
  data-pass="{{obj.required_score_to_pass}}"
  data-difficulty="{{obj.difficulty}}"
  data-bs-toggle="modal" 
  data-bs-target="#quizStartModal" 
  >
  {{obj.name}}
</button><br>
  {% endfor %}

  <script src="{% static 'quiz/main.js' %}" defer></script>

{%endblock content%}
