{% load static %}
<div class="topics">
    <div class="topics__header">
      <div class="logo">
        <a href="{% url 'home' %}"><img src="{% static 'images/book.png'%}" alt="" class="logo"></a>
      </div>
        <h2>Browse Topics</h2>
    </div>
        <hr>
    <ul class="topics__list">
        <li>
            <a href="{% url 'rooms_home' %}">All</a>
        </li>

        {%for topic in topics %}
            <li>
                <a href="{% url 'rooms_home' %}?q={{topic.name}}">{{topic.name}} <span>0</span></a>
            </li>
        {% endfor %}
    </ul>
</div>
<style>
    
.topics__header {
    margin-bottom: 2rem;
  }
  
  .topics__header h2 {
    text-transform: uppercase;
    font-weight: 500;
    color: var(--color-dark-light);
  }
  
  .topics__list {
    list-style: none;
  }
  
  .topics__list li a {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    font-weight: 500;
    color: var(--color-light-gray);
    transition: all 0.3s ease-in-out;
  }
  
  .topics__list li a.active,
  .topics__list li a:hover {
    color: var(--color-main);
  }
  
  .topics__list li a span {
    padding: 0.5rem 1rem;
    background-color: var(--color-dark);
    border-radius: 3px;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1px;
  }
</style>